

 .btn-blue {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    text-align: center;
}

.btn-blue:hover {
    background-color: #2980b9;
}
